* {
    box-sizing: border-box;
}
html, body {
    background-color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0%;
    min-height: 80vh;
}
header, footer {
    color:azure;
    background-color: silver;
    margin: 0px;
    padding: 1%;
    text-decoration: none;
}
a {
    color: darkslategray;
    text-decoration: none;
}
a:hover {
    color:white;
}
main {
    margin: 0px;
    padding: 5px 5%;
    background-color:ghostwhite;
}
nav {
    color: azure;
    /*display: flex;*/
}
nav a {
    color: azure;
    text-decoration: none;
}
nav a#logo {
    text-shadow: 0px 0px 10px black;
}
nav div {
    display: inline-block; /* background-color: gray; */
    margin: 0%;
    padding: 5px;
}
nav div:hover {
    background-color: gray;
}
p#intro {
    overflow: visible;
}
.card {
    background-color: white;
    padding: 10px;
    margin: 10px 5px;
}
.column-left {
    float: left;
    width: 60%;
}
.column-right {
    float: left;
    width: 40%;
    padding-left: 20px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.container-footer {
    padding: 5px;
}
#github-profile-image {
    border: 5px solid black;
    border-radius: 5px;
    float: right;
    margin: 5px;
}
/* responsive elements */
@media screen and (max-width: 800px) {
    .column-left, .column-right {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 1200px) {
    #github-profile-image {
        width: 256px;
    }
}